<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>All Users</title>
    <style>
        body{
        background-color: F5F5FA;
    }
    table{
    }
        table,th,td{ 
            background: #F5F5FA;
            border: 1px solid black;
            font-size: small;
            box-shadow:  8px 8px 14px  #d0d0d5,
                         -8px -8px 14px #ffffff; 
        }
        #id{
            width: 5px;
        }
        #email{
            width: 2px;
        }
        #username{
            width: 2px;
            text-align: center;
        }
        #avatar{
            width: 5px;
        }
        #birthdate, #registeredAt{
            width: 15px;}
        button{
        width: 100px;
        height: 30px;
        font-size: 10px;
        padding: 4px;
        margin: 5px;
        border:solid rgb(84, 13, 84);
        border-radius: 20px;
        background: #d3d3e5;
        box-shadow:  8px 8px 14px  #d0d0d5,
        -8px -8px 14px #ffffff;
    }
    H2{
        text-align: center;
        font-size: 35px;
        font-family: 'freight-big-pro';
        text-decoration: underline;
    }
    </style>
</head>
<body>
    <H2>ALL USERS DATA</H2>
   <table>
       <tr>
          <th id="id">Id</th>
          <th id="email">Email</th>
          <th id="username">Username</th>
          <th id="avatar">avatar_path</th>
          <th id="birthdate">birthdate</th>
          <th id="registeredAt">registeredAt</th>
       </tr>
       <tr><% for(user of users) { %>
           <tr>
               <td><%= user.id %></td>
               <td><%= user.email %></td>
               <td><%= user.username %></td>
               <td><%= user.avatar_path %></td>
               <td><%= user.birthdate %></td>
               <td><%= user.registeredAt %></td>
               <td>
                 <form method="GET" action="/user/<%= user.id %>/edit">
                    <button >EDIT</button>
                 </form>
                 <form method="GET" action="/user/<%= user.id %>/DELETE">
                    <button >DELETE</button>
                 </form>
            </td>
            </tr>
           <% } %>
        </tr>
</table>

</body>
</html>